@charset utf-8;

@import url(../font/myriadpro-regular.css);@import url(../font/myriadpro-semibold.css);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:0;margin:0;padding:0}

a{color:#555;cursor:pointer!important;text-decoration:none}

.content a{color:#555}

.ho-spacer{height:60px}

.clr{clear:both}

img {max-width:100% !important;height:auto;}

form{margin:0;padding:0}

form textarea{width:80%;height:50px}

form table td{padding:8px 5px}

strong{font-weight:100!important;font-family:MyriadProSemibold}

*{line-height:1}

.column .col{list-style:none!important;float:left}

body{background:#f5f5f5;font:12px MyriadProRegular;color:#666}

input,select,textarea{font:12px "Myriad Pro";border:1px solid #dfdfdf;-ms-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-box-sizing:content-box}

input[type=text],input[type=email],input[type=password]{border:1px solid #ccc;padding:2px 5px}

#wrp-c{width:1024px;margin:0 auto}

#header{background:#7caad9;height:96px}

#header .wrp-inner{height:96px}

.wrp-inner{width:960px;position:relative;margin:0 auto}

.top-link{text-align:right;vertical-align:baseline;width:700px}

.logoCont{position:absolute;left:0;bottom:0}

.acc-panel{position:absolute;right:0;bottom:0}

#menutop{background:#326497}

#menutop a{color:#FFF;font-size:18px}

#menutop a:hover{color:#00eaff}

#container{background:#FFF;padding:20px 0;}

#menutop .col{padding:12px 23px}

#menutop .col:first-child{padding-left:0}

.doMenu{padding:20px 0}

.doMenu a{font-size:24px;color:#CCC;margin-right:20px}

.doMenu a:hover{color:#F30}

.m-resume{background:url(../img/m-resume.gif) left center no-repeat;padding:2px 0 0 35px}

.m-jallert{background:url(../img/m-jallert.gif) left center no-repeat;padding:2px 0 0 40px}

.m-reg{float:right;background:#f60 url(../img/reg_arrow.gif) 105px center no-repeat;font-size:18px!important;color:#fff!important;margin:0!important;padding:5px 40px 5px 20px}

.advSearchBox{background:#e5e5e5;border:1px solid #ddd;padding:18px 20px}

.JobCount{float:right!important;line-height:3}

.advSearchBox input,.advSearchBox select{width:145px;color:#555;border:1px solid #ccc;background:#fff;font-size:12px;padding:5px 10px}

.advSearchBox label{padding:0 10px}

.MainSearch .col{margin:0 10px 10px 0}

.detailSearch{display:none}

.detailSearch.dsopen{display:block!important}

.tg-detail{cursor:pointer;color:#555;background:url(../img/icon/rd.png) 5px center no-repeat;padding-left:18px}

.tg-detail.rdown{color:#273e83;background:url(../img/icon/ru.png) 5px center no-repeat!important}

.tg-detail:hover{color:#273e83}

.f30{font-size:30px}

.f18{font-size:18px}

.btn_blue{background:#7caad9!important;color:#FFF!important;cursor:pointer;width:auto!important;border:0!important;padding:5px 10px}

.btn_blue:hover{background:#6799cb!important}

.btn_Orange{color:#FFF!important;background:#f60;border:0;cursor:pointer;padding:5px 10px}

.btn_Orange:hover{background:#e35a08}

.btn_Gray{color:#FFF;background:#CCC;border:0;cursor:pointer;padding:5px 10px}

.btn_Gray:hover{background:#c0bdbd}

.btn_Red{background:#dd9292;border:1px solid #9b6a6a;color:#FFF;padding:2px 4px}

.btn_Red:hover{background:#d27c7c}

.wd30{width:30px!important}

.wd50{width:50px!important}

.wd100{width:100px!important}

.pinf{color:#999;font-size:11px;padding:2px 0}

.pinf span{color:#c77666}

.pinf label{margin:0 5px}

.pinf label:first-child{margin:0}

#paging_button ul{width:100%;text-align:right;margin:8px;padding:0}

#paging_button ul li{border:1px solid #dfdfdf;background:#f2f2f2;color:#444;display:inline;font-size:9px;text-align:center;text-decoration:none;text-shadow:none;list-style-type:none;width:20px;cursor:pointer;margin:0 2px;padding:2px 5px}

#paging_button ul li:hover,#paging_button ul li.active{background:#f60;color:#fff;border:1px solid #ef6000}

.list-sidebar{border:1px solid #dfdfdf;list-style:none;padding:10px}

.list-sidebar li{background:url(../img/square.gif) 10px 14px no-repeat;position:relative;padding:10px 10px 10px 25px}

.list-sidebar li a{display:block;color:#666}

.list-sidebar .nocl{background:none!important;text-align:center}

.list-sidebar.middle em{font-style:italic;display:block;color:#555;position:absolute;right:10px;top:40%}

.ls-title{font-size:24px;color:#f63;background:none!important;padding-left:0!important}

.ls-desc{width:163px}

.list-sidebar li:nth-child(even){background-color:#fff2d8}

.list-sidebar li label{float:left;margin-right:10px}

.kinfo li{overflow:auto}

.listblue li:nth-child(even){background-color:#e3ecf5}

.statistik-box{background:#e5e5e5;border:1px solid #ccc;padding:10px}

.statistik-box .spacer2{height:1px;border:0;border-bottom:2px solid #999;line-height:0}

.stat-title{font-size:24px;color:#f60;margin:10px 0}

.statistik-box table td{color:#333;padding:2px 0}

#footer{background:#7caad9;color:#FFF;padding:10px 0 20px}

.footer-wrpcontent li{width:153px}

.footer-wrpcontent li label{display:block;margin-bottom:20px;font-size:16px}

.footer-wrpcontent li a{display:block;color:#FFF;margin:10px 0}

.wrp-address{width:280px!important;padding:10px 32px}

.fcontact-title{font-size:36px}

.loader{background:#FFF url(../img/loader.gif) 90px center no-repeat;width:100px;position:fixed;left:45%;bottom:0;border:1px solid #dfdfdf;color:#999;padding:2px 5px}

.wrp-hatOrange{position:relative}

.hatOrange{text-transform:uppercase;color:#FFF;background:#f60;height:40px;line-height:40px;text-indent:31px;font-size:24px;position:absolute;top:23px;left:0;width:100%}

.hideList .hatOrange{cursor:pointer}

#BigContTab .on .arrow,.arrow.adown{height:14px;width:14px;position:absolute;right:20px;top:15px;background-image:url(../img/arrow.png)!important;background-repeat:no-repeat;background-position:90% center}

#BigContTab .arrow,.arrow{height:14px;width:14px;position:absolute;right:20px;top:15px;background-image:url(../img/arrow_off.png)!important;background-repeat:no-repeat;background-position:90% center}

#BigContTab .arrow{right:30px!important;top:23px!important}

.hatOrange .ho-onleft{position:absolute;left:1px;bottom:-9px;background:url(../img/bcpt_on_l.gif) left center no-repeat;height:9px;width:15px}

.hatOrange .ho-onright{position:absolute;right:0;bottom:-9px;background:url(../img/bcpt_on_r.gif) left center no-repeat;height:9px;width:16px}

.grayLight{background:#f8f8f8;border:1px solid #dfdfdf;margin:0 15px;padding:20px}

.grayDark{background:#e5e5e5;border:1px solid #dfdfdf;margin:0 15px;padding:20px}

.content{background:#f8f8f8;border:1px solid #eaeaea;padding:20px 30px}

.titleContentPage{font-size:24px;color:#f60;text-transform:uppercase;margin-bottom:10px}

.registerForm td,.dt-search-wrp td{vertical-align:middle}

.registerForm input[type=text],.registerForm input[type=password],.registerForm input[type=email],.registerForm select{color:#555;border:1px solid #ccc;background:#fefefe;font-size:12px;width:300px;padding:5px}

.leftpanel .hatOrange{top:5px}

.leftpanel .ho-spacer{height:35px}

.leftpanel{width:276px;margin-right:15px;margin-left:-15px}

.rightpanel{width:622px}

.leftmenu li{border-bottom:1px solid #bfbfbf;border-top:1px solid #f1f1f1;font-size:14px;padding:10px 5px}

.leftmenu li.lm-active{background:#f60;color:#FFF;border-bottom:1px solid #fc5f00}

.leftmenu li a{color:#666}

.titleContentRightPanel{color:#f60;font-size:18px;margin-bottom:20px}

.shortcutlist .col{text-align:center;background:#ebe8e8;width:150px;height:150px;border:1px solid #ccc;position:relative;margin-bottom:3px;margin-right:3px}

.shortcutlist .col:hover{background:#e7e7e7}

.shortcutlist .col img{position:relative;bottom:-20%}

.shortcutlist .col:hover img{bottom:-21%}

.sc-desc a{color:#999;position:absolute;bottom:10px;left:0;text-align:center}

.sc-title{display:block;font-size:14px;color:#666}

.dt-search-wrp{padding:20px!important}

.dt-search-wrp input[type=text],.dt-search-wrp .text,.dt-search-wrp input[type=password],.dt-search-wrp select{

	width:200px;color:#555;border:1px solid #ccc;background:#fafafa;font-size:12px;padding:5px;

}

.list-table{background:#f8f8f8}

.list-table td{padding:10px 5px}

.list-table thead td{background:#336497;color:#FFF}

.list-table tbody td{border-bottom:1px solid #dfdfdf;vertical-align:middle}

.pinfo .pinfo-pic-s{margin-right:10px}

.pinfo-desc .pinfo-name{font-size:24px;color:#f60;display:block}

.pinfo-sk{color:#666;font-size:18px;display:block;margin:10px 0}

.tblpinfo-dt td{border-bottom:1px solid #ccc;color:#777;padding:2px 0}

.noborder,.noborder td{border:0!important}

.pinfo-sp{font-size:14px;color:#666}

.grayBox{background:#e9e8e8;border:1px solid #dedede;padding:20px 10px}

.grayBox table td{padding:2px 0}

.gb-title{font-size:18px;margin-bottom:10px;display:block}

.tbl-gbdt thead td{background:#7caad9;color:#fff}

.tbl-gbdt td{border-bottom:1px solid #ccc;padding:3px 0}

.rght{float:right!important}

.rght a{margin-left:5px}

.btnpdf{border:1px solid #ddd;background:#eee url(../img/icon/pdf.png) no-repeat 5px center;color:#666!important;padding:2px 5px 2px 25px}

.btnedit{border:1px solid #ddd;background:#eee url(../img/icon/edit.png) no-repeat 5px center;color:#666!important;padding:2px 5px 2px 25px}

.tab-editcv{margin:10px 0 5px}

.tab-editcv .col a{color:#fff !important;display:block !important; }

.tab-editcv .col{background:#999;border:1px solid #888;color:#fff;margin-right:1px;cursor:pointer;padding:5px 9px}

.tab-editcv .col.on,.tab-editcv .col:hover{background:#f60;border:1px solid #fc5f00}

.boxWhite{background:#fff;border:1px solid #dfdfdf;padding:20px;margin-bottom:1em;}

.textContent ul, .textContent ol{margin:10px 15px; padding-left: 15px;}

.textContent p{margin:10px 0}

.textContent{line-height:2}

.textContent .lowongan-keterangan ul{margin: 0;}

.boxLightOrange{background:#faebcc;border:1px solid #f0e1c2;padding:20px}

.csc{border:1px solid #369;background:#eaeaea;display:block;width:100%;padding:0}

.csc span{display:block;background:#8ab1e1;color:#d4f2ff;font-size:10px;text-align:center;padding:1px 0}

.boxLightOrange input[type=text],.boxLightOrange select,.boxLightOrange textarea{width:80%;border:1px solid #e1cda2;padding:5px}

.tblOrange thead tr{background:#edc36c;color:#FFF}

.tblOrange input[type=text],.tblOrange select,.tblOrange textarea{width:99%!important;padding:5px 2px!important}

.checkbox-wrap{width:80%;border:1px solid #ccc;background:#FFF;height:100px;overflow:auto}

.leftpanel .suggestionPanel{margin:0 15px!important}

.ssp-title{color:#f60;font-size:18px}

.listlowongan li{border-bottom:1px solid #bfbfbf;border-top:1px solid #f1f1f1;padding:10px 5px}

.frw-lft{width:635px;margin-right:30px}

.frw-rgt{width:290px}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.list-sidebar li strong{display:block}

a:hover,.content a:hover,.list-sidebar li a:hover,.list-sidebar .nocl a,.forange,.leftmenu li a:hover{color:#f60}

.column,.leftmenu,.listlowongan ul,.lowongan-keterangan ul{list-style:none}

.acc-panel a,.leftmenu li.lm-active a,.leftmenu li.lm-active a:hover{color:#FFF}

.title-advSearchBox,.dsw-title{font-size:24px;color:#326497}

.f14,.f10{font-size:14px}

.spacer,.line{height:1px;border:0;border-bottom:1px solid #FFF;line-height:0;border-top:1px solid #CCC}

.leftmenu li:last-child,.listlowongan li:last-child{border-bottom:0}

.leftmenu li:first-child,.listlowongan li:first-child{border-top:0}



/*Extension*/

#artikel{ margin-bottom: 30px; display: inline-block; width: 100%;}

#artikel.artikel_detail .description{ font-size: 1.2em; }

#artikel h2{ font-size: 24px; margin-bottom: 1em; line-height: 1em; border-bottom: 1px solid #ccc;}

.artikel_listing{ width: 100%; display: inline-block; }

.artikel_listing .box-item:first-child{  border-top: none; border-top: 0px; }

.artikel_listing .box-item{ display: inline-block;width: 100%; padding-top: 20px; border-top: 20px;  border-top: 1px dashed grey; margin-bottom: 20px;}

.artikel_listing .box-item img{ float: left; margin-right: 20px;  }

.artikel_listing .box-item h3,.artikel_listing .box-item .description{ float: left; width: 840px;}

.artikel_listing .box-item h3{ font-size: 18px;}

.artikel_listing .box-item .description{ font-size: 14px;}

#artikel #paging_button ul{ text-align: center; padding-top: 10px; border-top: 1px solid grey; margin: 0;}

ul#reg-menu{ list-style: none; float:right;}

ul#reg-menu li{ position: relative; }

ul#reg-menu li ul{ display: none; position: absolute; top: 32px; left: 0; list-style: none;}

ul#reg-menu li ul li{ background: cornflowerblue ;padding: 4px 0px 4px 20px;width: 112px;}

ul#reg-menu li ul li:first-child{ border-bottom: 1px solid white; }

ul#reg-menu li ul li a{ font-size: 18px!important;color: white;!important;}

ul#reg-menu li:hover ul{ display: block;}

ul#reg-menu li ul li:hover{ background: #326497; }

.validation_error{ padding: 10px; background: bisque;}

.text-red{ color: red;}

.resume_kandidat textarea{ height: 420px;width: 618px;}

.hide{ display: none;}

.table-autoclone th{ text-align: center;}

.contens{ min-height: 300px;}

#paging_button.custom ul li{padding:0;display:inline-block;width:auto;}

#paging_button.custom ul li > a{padding:2px 5px;display:block;}

#paging_button ul li:hover a,#paging_button ul li.active a{ background: #f60;color: #fff; }





/* NOTIF */

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}

.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}

.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}

.success {background:#e6efc2;color:#264409;border-color:#c6d880;}

.info {background:#d5edf8;color:#205791;border-color:#92cae4;}

.error a, .alert a {color:#8a1f11;}

.notice a {color:#514721;}

.success a {color:#264409;}

.info a {color:#205791;}



table {

  max-width: 100%;

  background-color: transparent;

  border-collapse: collapse;

  border-spacing: 0;

}



.table {

  width: 100%;

  margin-bottom: 20px;

}



.table th,

.table td {

  padding: 8px;

  line-height: 20px;

  /*text-align: left;*/

  vertical-align: top;

  border-top: 1px solid #dddddd;

}



.table th {

  font-weight: bold;

}



.table thead th {

  vertical-align: middle;

  text-align: center;

}



.table caption + thead tr:first-child th,

.table caption + thead tr:first-child td,

.table colgroup + thead tr:first-child th,

.table colgroup + thead tr:first-child td,

.table thead:first-child tr:first-child th,

.table thead:first-child tr:first-child td {

  border-top: 0;

}



.table tbody + tbody {

  border-top: 2px solid #dddddd;

}



.table .table {

  background-color: #ffffff;

}



.table-condensed th,

.table-condensed td {

  padding: 4px 5px;

}



.table-bordered {

  border: 1px solid #dddddd;

  border-collapse: separate;

  *border-collapse: collapse;

  border-left: 0;

  -webkit-border-radius: 4px;

     -moz-border-radius: 4px;

          border-radius: 4px;

}



.table-bordered th,

.table-bordered td {

  border-left: 1px solid #dddddd;

}



.table-bordered caption + thead tr:first-child th,

.table-bordered caption + tbody tr:first-child th,

.table-bordered caption + tbody tr:first-child td,

.table-bordered colgroup + thead tr:first-child th,

.table-bordered colgroup + tbody tr:first-child th,

.table-bordered colgroup + tbody tr:first-child td,

.table-bordered thead:first-child tr:first-child th,

.table-bordered tbody:first-child tr:first-child th,

.table-bordered tbody:first-child tr:first-child td {

  border-top: 0;

}



.table-bordered thead:first-child tr:first-child > th:first-child,

.table-bordered tbody:first-child tr:first-child > td:first-child,

.table-bordered tbody:first-child tr:first-child > th:first-child {

  -webkit-border-top-left-radius: 4px;

          border-top-left-radius: 4px;

  -moz-border-radius-topleft: 4px;

}



.table-bordered thead:first-child tr:first-child > th:last-child,

.table-bordered tbody:first-child tr:first-child > td:last-child,

.table-bordered tbody:first-child tr:first-child > th:last-child {

  -webkit-border-top-right-radius: 4px;

          border-top-right-radius: 4px;

  -moz-border-radius-topright: 4px;

}



.table-bordered thead:last-child tr:last-child > th:first-child,

.table-bordered tbody:last-child tr:last-child > td:first-child,

.table-bordered tbody:last-child tr:last-child > th:first-child,

.table-bordered tfoot:last-child tr:last-child > td:first-child,

.table-bordered tfoot:last-child tr:last-child > th:first-child {

  -webkit-border-bottom-left-radius: 4px;

          border-bottom-left-radius: 4px;

  -moz-border-radius-bottomleft: 4px;

}



.table-bordered thead:last-child tr:last-child > th:last-child,

.table-bordered tbody:last-child tr:last-child > td:last-child,

.table-bordered tbody:last-child tr:last-child > th:last-child,

.table-bordered tfoot:last-child tr:last-child > td:last-child,

.table-bordered tfoot:last-child tr:last-child > th:last-child {

  -webkit-border-bottom-right-radius: 4px;

          border-bottom-right-radius: 4px;

  -moz-border-radius-bottomright: 4px;

}



.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {

  -webkit-border-bottom-left-radius: 0;

          border-bottom-left-radius: 0;

  -moz-border-radius-bottomleft: 0;

}



.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {

  -webkit-border-bottom-right-radius: 0;

          border-bottom-right-radius: 0;

  -moz-border-radius-bottomright: 0;

}



.table-bordered caption + thead tr:first-child th:first-child,

.table-bordered caption + tbody tr:first-child td:first-child,

.table-bordered colgroup + thead tr:first-child th:first-child,

.table-bordered colgroup + tbody tr:first-child td:first-child {

  -webkit-border-top-left-radius: 4px;

          border-top-left-radius: 4px;

  -moz-border-radius-topleft: 4px;

}



.table-bordered caption + thead tr:first-child th:last-child,

.table-bordered caption + tbody tr:first-child td:last-child,

.table-bordered colgroup + thead tr:first-child th:last-child,

.table-bordered colgroup + tbody tr:first-child td:last-child {

  -webkit-border-top-right-radius: 4px;

          border-top-right-radius: 4px;

  -moz-border-radius-topright: 4px;

}



.table-striped tbody > tr:nth-child(odd) > td,

.table-striped tbody > tr:nth-child(odd) > th {

  background-color: #f9f9f9;

}



.table-hover tbody tr:hover > td,

.table-hover tbody tr:hover > th {

  background-color: #f5f5f5;

}



.text-left {

  text-align: left;

}



.text-right {

  text-align: right;

}



.text-center {

  text-align: center;

}

.artikel_listing .box-item .list-image{
  float:left;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.normalize p {
  margin: 0 0 1em;
}

.normalize small {
  font-size: 85%;
}

.normalize strong {
  font-weight: bold;
}

.normalize em {
  font-style: italic;
}

.normalize cite {
  font-style: normal;
}

.normalize a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.normalize a:hover,
.normalize a:active {
  outline: 0;
}

.normalize sub,
.normalize sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.normalize sup {
  top: -0.5em;
}

.normalize sub {
  bottom: -0.25em;
}

.normalize img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
  max-width: none;
}

.normalize ul,
.normalize ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.normalize ul ul,
.normalize ul ol,
.normalize ol ol,
.normalize ol ul {
  margin-bottom: 0;
}

.normalize li {
  line-height: 20px;
}

.normalize hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.normalize h1,
.normalize h2,
.normalize h3,
.normalize h4,
.normalize h5,
.normalize h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  color: inherit;
  text-rendering: optimizelegibility;
}

.normalize h1 small,
.normalize h2 small,
.normalize h3 small,
.normalize h4 small,
.normalize h5 small,
.normalize h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

.normalize h1,
.normalize h2,
.normalize h3 {
  line-height: 1.3;
}

.normalize h1 {
    font-size: 2em;
    margin: 0 0 0.67em 0;
}
 
.normalize h2 {
    font-size: 1.5em;
    margin: 0 0 0.83em 0;
}
 
.normalize h3 {
    font-size: 1.17em;
    margin: 0 0 1em 0;
}
 
.normalize h4 {
    font-size: 1em;
    margin: 0 0 1.33em 0;
}
 
.normalize h5 {
    font-size: 0.83em;
    margin: 0 0 1.67em 0;
}
 
.normalize h6 {
    font-size: 0.75em;
    margin: 0 0 2.33em 0;
}

.normalize h1 small,
.normalize h2 small,
.normalize h3 small,
.normalize h4 small {
  font-size: smaller;
}

.normalize table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.normalize td,
.normalize th {
  padding: 0;
}

.normalize a {
  color: #0088cc;
  text-decoration: none;
}

.normalize a:hover,
.normalize a:focus {
  color: #005580;
  text-decoration: underline;
}