@charset "utf-8";
/* CSS Document */

.titleTab{font-size:14px;padding:9px 17px}
.trapspacer{height:100px}
#BigContTab{position:relative}

#BigContTabWrp{background:#f7f7f7;border:1px solid #f0f0f0;margin:0 15px;padding:0 10px;}
.BigContTabPanel{position:absolute;top:20px;left:0;width:100%}
.BigContTabPanel .col{width:49.5%;position:relative;cursor:pointer;zoom:1}
.BigContTabPanel .col a { display:block; color:#666}
.BigContTabPanel .col a:hover {  color:#f60}
.bcpt.on{background:#f60;color:#FFF;height:60px;line-height:61px;text-indent:31px;font-size:24px}
.bcpt.on a {color:#FFF; }
.bcpt.on a:hover {color:#f1f1f1; }
.bcpt{background:#e5e5e5;color:#666;height:60px;line-height:61px;text-indent:31px;font-size:12px}
.bcpt.bcptright .bcpt_sp{position:absolute;left:1px;bottom:-9px;background:url(../img/bcpt_off_l.gif) right center no-repeat;height:9px;width:15px}
.bcpt.on.bcptright .bcpt_sp{position:absolute;left:1px;bottom:-9px;background:url(../img/bcpt_on_l.gif) left center no-repeat;height:9px;width:15px}
.bcpt.bcptleft .bcpt_sp{position:absolute;right:0;bottom:-9px;background:url(../img/bcpt_off_r.gif) right center no-repeat;height:9px;width:16px}
.bcpt.on.bcptleft .bcpt_sp{position:absolute;right:0;bottom:-9px;background:url(../img/bcpt_on_r.gif) left center no-repeat;height:9px;width:16px}
#tab-container{background:#CCC;width:100%;position:relative}
#bctp-loadarea{ position:relative}
.etabs{text-align:right;margin:
	0;padding:0}
.tab{zoom:1;display: inline-block;*display:inline;  border-bottom:none}
.tab a{line-height:2em;display:block;outline:none;color:#555;padding:0 30px}
.tab.active{background:#f9eacb;position:relative}
.tab a.active{font-size:18px;color:#f60;font-weight:700}
.tab-container .panel-container{background:#f9eacb;padding:10px}
.panel-container{margin-bottom:10px}
.bctw-list{margin:10px;padding:10px}
.bctw-list li{width:33%;list-style:square;float:left;color:#f60;padding:5px 0}
.bctw-list a{color:#666}
.bctw-list a:hover{color:#f60}
 
.artikelBigTitle{border-bottom:1px solid #999;padding:10px 0}
.thumbDec-list .clr{height:20px}
.thumb-list{width:93px;margin-right:10px}
.dec-list{width:522px;font-size:12px;text-align:justify}
.promoKandidatBox .dec-list{width:500px}
.dec-title{font-size:18px;margin-bottom:10px}
.wrp-companylist{padding:32px !important}
.thumb-listperusahaan .col{width:93px;text-align:center;height:61px;overflow:hidden;margin:10px 15.1px}
.tlp-first{margin-left:0!important}
.tlp-last{margin-right:0!important}
.thumb-listperusahaan .clr{border-top:1px solid #f2f2f2;border-bottom:1px solid #dadada}
.thumb-listperusahaan .clr:last-child{border:0}


.tks-form{width:620px;margin-right:13px}
.tks-form .col{width:135px;margin-right:0px;vertical-align:middle}
.tks-form .col select{width:100px;color:#555;border:none;background:#fff;font-size:12px;padding:5px 10px}
.tks-form label{display:block;padding:5px 0}
.tks-paging{width:255px;/*height:52px;line-height:67px;*/ margin: 15px 0 0;}
.tks-result .col{width:32.9%;margin:5px 0; height: 55px;}
.tks-pic,.ls-pic{width:50px}
.tks-desc{width:220px}
.tks-result .col label{float:left;margin-right:10px}
.tks-result li strong{display:block;}
.tks-result li a{color:#333;}
.tks-result li a:hover{color:#f60;}