.marginright { margin-right:5px; }
.marginleft { margin-left:20px !important; }
.marginbottom { margin-bottom:10px !important; }
.nomargin { margin:0 !important; }
.form-horizontal .control-label { width:200px; }
.form-horizontal .controls { margin-left:220px; }
textarea.editor { width:450px; }
.table-header { margin-bottom:5px; }
.category_jstree { width:500px; height:250px; border:1px solid #aaa; }
table.list tr td:first-child { width:20px; }
.control-label-inline { display:inline-block; min-width:150px; }
.control-group-inner { margin-bottom:10px; }
.textright { text-align:right; }
#loginpage { margin-top:120px; }
table th { font-weight: bold; }
.chosen-select { padding-right: 10px; }