@charset "utf-8";
/* www.supportunicefindonesia.org - index.css - RED Communication 2012 */
@import url("reset.css");

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}

.left{ float:left; } /**/ .right{ float:right; } /**/ .clear{ clear:both; } /**/ .hidden{ display:none; }

img{ border:none; }
p{ line-height:16px; margin:0 0 15px; }

a{ color: #0190F1; text-decoration:none; }
a:hover{ color:#64648A; } 
:focus{ outline:none; }

a.btn_blue{ background:#0190F1; border:1px solid #0190F1; padding:3px 5px; color:#fff; font-size:14px; font-weight:bold; position:relative; top:-5px; }
a.btn_blue:hover{ border:1px solid #0190F1; background:#fff; color:#0190F1; }

h1, h2, h3, h4 { font-family:  Arial, Verdana, Helvetica, sans-serif; padding:0; }
h5, h6 { font-family:  Arial, Verdana, Helvetica, sans-serif; color: #333333; }  

h2{ font-size:18px; color:#0081de; margin:5px 0 5px; }
h3{ font-size:14px; color:#585858; margin:0 0 5px; }

h2 .num{ background:#0190F1 url(../fbimages/circle_trans.png) center no-repeat; height:26px; line-height:26px; width:26px; font-size:14px; text-align:center; font-weight:bold; color:#fff; float:left; margin-right:5px; position:relative; top:-3px; }


/* BEGIN STRUCTURE */
#wrapperFb{ width:810px; margin:0 auto; position:relative; }
#wrapperFb.home{ height:800px; background:url(../fbimages/bg_front.jpg) top center no-repeat; }

#wrapperFbDonate{ width:561px; margin:0 auto; position:relative; }

.btn_like{ position:absolute; top:0; right:0; z-index:100; }

#slide{ position:relative; }
#slide .DescSS{ position:absolute; bottom:3px; width:100%; height:106px; background:url(../fbimages/slide_trans.png) repeat; }
#slide .DescSS .padder{ padding:20px 20px 10px; font-size:12px; line-height:16px; color:#000; font-family:  Arial, Verdana, Helvetica, sans-serif; }

#slide .DescSS .padder h2{ font-size:24px; font-weight:normal; color:#0099ff; padding:0; margin:0 0 10px; background:url(../fbimages/btn_arrow.png) right center no-repeat; }

.button_cover{ width:500px; margin:30px auto 0; }
a.onetime, a.monthly{ font-size:0; text-align:-9999px; letter-spacing:-9999px; }
a.onetime{ width:232px; height:57px; display:block; background:url(../fbimages/btn_onetimedonation.jpg) no-repeat top left; }
a.monthly{ width:216px; height:57px; display:block; background:url(../fbimages/btn_monthlydonation.jpg) no-repeat top left; margin-left:18px; }


#topBanner{ margin:0 0 15px; position:relative; }
#boxTransText{ background:url(../fbimages/black_trans.png) repeat; width:305px; padding:15px 20px; border-left:15px solid #0099ff; min-height:30px; position:absolute; bottom:40px; }
#boxTransText p{ font-size:12px; color:#fff !important; line-height:16px; }
#boxTransText h2{ font-size:14px; color:#fff; font-weight:bold; }


/* DONATE */
#donateForm{ font-family:  Arial, Verdana, Helvetica, sans-serif; color:#949494; padding-bottom:70px; }
#donateForm h3{ color:#0099ff; margin-bottom:10px; }

#donateForm #nominal{ margin:13px 0 20px; }
#donateForm #nominal ul{ margin:0; padding:0; list-style:none; }
#donateForm #nominal ul li{ float:left; width:185px; border-top:1px solid #c0d1e5; border-bottom:4px solid #aabfd5; background:#ababab; margin-right:2px; }
#donateForm #nominal ul li.on{ background:url(../fbimages/donate_on_bg.jpg) top center no-repeat; border-bottom:4px solid #dee9f5; }

#donateForm #nominal ul li label{ padding:15px 10px; display:block; }
#donateForm #nominal ul li .radio{ width:20px; margin-right:5px; float:left; }
#donateForm #nominal ul li .labelnya{ width:140px; float:left; font-size:14px; color:#fff; }
#donateForm #nominal ul li .labelnya .valnya{ font-weight:bold; font-size:24px; }

#donateForm #nominal ul li .labelnya .valnya input[type=text]{ width:80px; position:relative; top:-3px; }

#donateForm #formnya ul{ margin:0 0 3px; padding:0; list-style:none; clear:both; }
#donateForm #formnya ul li{ float:left; }
#donateForm #formnya ul li.labelnya{ width:120px; padding:5px 0; color:#949494; font-size:12px; line-height:18px; }
#donateForm #formnya ul li.form{ width:285px; }

#donateForm #formnya ul li.form input[type=text]{ padding:3px; border:1px solid #c0c0c0; color:#333; width:278px; }
#donateForm #formnya ul li.form select, #donateForm #formnya select{ padding:3px; border:1px solid #c0c0c0; color:#949494; }
#donateForm #formnya ul li.form select.full{ width:288px; }

#donateForm #formnya ul li.form.radio{ padding:5px 0; } 
#donateForm #formnya ul li.form.radio label{ margin-right:30px; color:#949494; }

#paymentMethod{}
#paymentMethod ul{ margin:0; padding:0; list-style:none; clear:both; }
#paymentMethod ul li{ float:left; width:40%; padding-top:43px;  }
#paymentMethod ul li.cc{ background:url(../fbimages/pay_cc.jpg) no-repeat top left; }
#paymentMethod ul li.doku{ background:url(../fbimages/pay_doku.jpg) no-repeat top left; }

#typeDonate{ background:#d4e6f2; width:300px; padding:10px 15px; margin:20px 0; }
#typeDonate h3{ color:#5f5f5f; }
#typeDonate ul{ margin:0; padding:0; list-style:none; }
#typeDonate ul li{ display:block; line-height:21px; width:100%; color:#949494; font-size:14px; }

#donateForm input[type=submit], input[type=button] { background:url(../fbimages/button_submit_repeat.jpg) repeat-x; height:35px; line-height:35px; padding:0 20px; text-align:center; cursor:pointer; color:#fff; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; border:none; position:relative; }
#donateForm input[type=submit], input[type=button] :hover{ top:1px; }


#donate_thanks{ background:url(../fbimages/img_shadow.jpg) no-repeat bottom center; padding-bottom:20px; margin:10px 0; }
#donate_thanks .wrap{ padding:5px; border:1px solid #cfcfcf; background:#fff; position:relative; overflow:hidden; }

#boxTransTextRight{ background:url(../fbimages/black_trans.png) repeat; width:235px; padding:15px 20px 20px; border-right:15px solid #0099ff; min-height:30px; position:absolute; bottom:40px; right:5px; text-align:right; }
#boxTransTextRight p{ font-size:12px; color:#fff !important; line-height:16px; margin:0 0 10px; }
#boxTransTextRight h2{ font-size:14px; color:#fff; font-weight:bold; }


#FormStep{ height:26px; line-height:26px; padding-bottom:15px; }
#FormStep ul{ margin:0; padding:0; list-style:none; clear:both; }
#FormStep ul li{ float:left; font-size:12px; color:#949494; font-family:Arial, Helvetica, sans-serif; width:140px; }
#FormStep ul li.title{ width:120px; color:#9d9b9b; }
#FormStep ul li .num{ background:#ababab url(../fbimages/circle_trans.png) center no-repeat; height:26px; line-height:26px; width:26px; font-size:14px; text-align:center; font-weight:bold; color:#fff; float:left; margin-right:5px; }

#FormStep ul li.on{ color:#0099ff; }
#FormStep ul li.on .num{ background:#0099ff url(../fbimages/circle_trans.png) center no-repeat; }

#liner{ height:5px; width:100%; display:block; background:#dee9f5; border-top:1px solid #a8b7c6; margin-bottom:20px; }



#donate_error{ width:551px; height:134px; background:url(../fbimages/gagal.jpg) no-repeat; }
.btn_error{ position:relative; top:90px; left:152px; }

#donate_error{ width:551px; height:134px; background:url(images/gagal.jpg) no-repeat; }
.btn_error{ position:relative; top:90px; left:152px; }




/* form validator */
label.error, .merahError{ color:#f00; padding:3px 0; display:block; }
