@charset "utf-8";
/* www.supportunicefindonesia.org - index.css - RED Communication 2012 */
@import url("reset.css");

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#8d8d8d;
}

.left{ float:left; } /**/ .right{ float:right; } /**/ .clear{ clear:both; } /**/ .hidden{ display:none; }

img{ border:none; }
p{ line-height:16px; margin:0 0 15px; }

a{ color: #0190F1; text-decoration:none; }
a:hover{ color:#64648A; } 
:focus{ outline:none; }

a.btn_blue{ background:#0190F1; border:1px solid #0190F1; padding:3px 5px; color:#fff; font-size:14px; font-weight:bold; position:relative; top:-5px; }
a.btn_blue:hover{ border:1px solid #0190F1; background:#fff; color:#0190F1; }

h1, h2, h3, h4 { font-family:  Arial, Verdana, Helvetica, sans-serif; padding:0; }
h5, h6 { font-family:  Arial, Verdana, Helvetica, sans-serif; color: #333333; }  

h2{ font-size:18px; color:#0081de; margin:5px 0 5px; }
h3{ font-size:14px; color:#585858; margin:0 0 5px; }

h2 .num{ background:#0190F1 url(images/circle_trans.png) center no-repeat; height:26px; line-height:26px; width:26px; font-size:14px; text-align:center; font-weight:bold; color:#fff; float:left; margin-right:5px; position:relative; top:-3px; }

/* BEGIN STRUCTURE */
#header{ background:#0099FF; border-top:none; border-bottom:1px solid #017dcf; text-shadow:none !important; }
#header .inner-header{ height:52px; border-bottom:1px solid #4fb9ff; padding:0 15px; }

#header .teritory{ font-size:20px; color:#fff; font-weight:bold; line-height:50px; width:100px; float:left; }
#header .menu{ width:50px; height:52px; padding-bottom:0px; position:absolute; right:0px; top:0; border-left:1px solid #007ccf; }
#header .menu .innermenu{ height:52px; border-left:1px solid #2baaff; cursor:pointer; }
#header .logo{ width:98px; position:absolute; right:55px; top:0; }

#header .menu .innermenu.expand, #header .menu .innermenu:hover{ background:#007feb; }

#footer{ background:#e6e6e6; text-shadow:none !important; border:none; text-align:center; color:#0087e1; padding:10px; border-top:1px solid #ccc; }
#footer a{ color:#0087e1; padding:0 2px; font-size:11px; }
#footer a:hover, #footer a.on{ color:#9b9b9b; }

#MainMenu{ z-index:100; }
#MenuExpand{ position:relative; top:-2px; width:100%; background:#007feb; z-index:100; text-shadow:none !important; }
#MenuExpand ul{ margin:0; padding:0; list-style:none; }
#MenuExpand ul li{ font-size:16px; font-weight:bold; }
#MenuExpand ul li a{ display:block; color:#78c9ff; line-height:18px; padding:15px; }
#MenuExpand ul li a:hover, #MenuExpand ul li a.on{ background:#005cc4; color:#fff; }

#homeButtons a{ text-align:left; text-shadow:none !important; background:#0099ff; color:#fff; padding:0; border-bottom:1px solid #1366a9 !important; margin:0; padding:0 0 1px; }
#homeButtons a:hover{ background:#e6e6e6; color:#0099ff; }
#homeButtons a .ui-btn-text{ background:url(images/arrow-r.png) 0px 4px no-repeat; padding:3px 15px; }
#homeButtons a:hover .ui-btn-text{ background:url(images/arrow-r-hov.png) 0px 4px no-repeat; padding:3px 15px; }

#homeButtons a .ui-btn-inner{ border-top:1px solid #4db2f6; padding:10px 20px; }
#homeButtons .ui-btn-up-c, #homeButtons .ui-btn-hover-c{ border:none; }


#Content{ min-height:300px; padding:15px 0; background:#fff; }
#Content .container{ padding:0 15px; }


/* donate */
#topBanner{ position:relative; text-shadow:none !important; }
#boxTransText{ background:url(images/black_trans.png) repeat; width:305px; padding:15px 20px; border-left:15px solid #0099ff; min-height:30px; position:absolute; bottom:3px; }
#boxTransText p{ font-size:12px; color:#fff !important; line-height:16px; }
#boxTransText h2{ font-size:14px; color:#fff; font-weight:bold; }

#FormStep{ padding:10px 2px; text-align:center; border-bottom:1px solid #cacaca; font-size:18px; color:#76838b; font-weight:bold; }
#FormStep .dif{ color:#6dabd4; font-weight:normal }

#donateForm{ padding:15px; }
#donateForm h3{ font-size:14px; color:#0099ff; font-weight:bold; margin:0 0 10px; }




#nilai{ margin:15px 0 30px; padding:0; list-style:none; }
#nilai li{ background:#ababab; border-bottom:2px solid #aabfd5; margin-bottom:5px; color:#fff; padding:10px 0; }
#nilai li.on{ background:#006eea url(images/donate_on_bg.jpg) top center repeat-x; border-bottom:2px solid #dee9f5; }

#donateForm #nilai .ui-btn-inner.ui-btn-corner-all{ background:transparent; border:none; }
#donateForm #nilai .ui-btn-corner-all{ border-radius:0px !important; background:transparent; }
#donateForm #nilai .ui-btn-text{ color:#fff; font-size:14px; text-shadow:none !important; }
#donateForm #nilai .ui-btn-text .valnya{ font-size:24px; font-weight:bold; }

#donateForm #nilai .ui-btn-text input.ui-input-text{ width:70px; position:relative !important; left:0; top:0; display:inline; border-radius:0px !important; }

#nilai li label{ border:none; }

#donateForm #formnya input.ui-input-text, #donateForm #formnya .select .ui-btn-up-c, #donateForm #formnya .select .ui-btn-hover-c{ border-radius:0px !important; margin-bottom:5px;border: 1px solid #AAA; }
#donateForm #formnya .select .ui-select{ width:100%; }
#donateForm #formnya .label{ padding:10px 0 5px; font-size:12px; color:#949494; }
#donateForm #formnya .inputnya{ margin-bottom:20px; }
#donateForm #formnya .ui-slider-switch { width: 120px; }
#donateForm #formnya .ui-field-contain, fieldset.ui-field-contain{ border:none !important; }

#paymentMethod{}
#paymentMethod ul{ margin:0; padding:0; list-style:none; clear:both; }
#paymentMethod ul li{ float:left; width:40%; padding-top:43px;  }
#paymentMethod ul li.cc{ background:url(images/pay_cc.jpg) no-repeat top left; }
#paymentMethod ul li.doku{ background:url(images/pay_doku.jpg) no-repeat top left; }

#donateForm #paymentMethod .ui-btn-inner.ui-btn-corner-all{ background:transparent; border:none; }
#donateForm #paymentMethod .ui-btn-corner-all{ border-radius:0px !important; background:transparent; border:none; }
#donateForm #paymentMethod .ui-btn-text{ color:#949494; font-size:14px; text-shadow:none !important; }
#donateForm #paymentMethod .ui-btn-text .valnya{ font-size:24px; font-weight:bold; }

#typeDonate{ background:#d4e6f2;  padding:10px 15px; margin:20px 0; }
#typeDonate h3{ color:#5f5f5f; }
#typeDonate ul{ margin:0; padding:0; list-style:none; }
#typeDonate ul li{ display:block; line-height:21px; width:100%; color:#949494; font-size:14px; }

#donateForm #typeDonate .ui-btn-inner.ui-btn-corner-all{ background:transparent; border:none; }
#donateForm #typeDonate .ui-btn-corner-all{ border-radius:0px !important; background:transparent; border:none; }
#donateForm #typeDonate .ui-btn-text{ color:#949494; font-size:14px; text-shadow:none !important; }
#donateForm #typeDonate .ui-btn-text .valnya{ font-size:24px; font-weight:bold; }


/* Take-Action */
#Take-Action h2{ font-size:18px; color:#0190f1; border-bottom:1px solid #cacaca; margin-bottom:15px; padding:0 15px 15px; }
#TakeActionPost h2{ color:#5e5e5e; border-bottom:none; padding:0; margin:0 0 10px;}

#TakeActionPost{ padding:0 15px; }
#Take-Action .img_post{ border-top:3px solid #0099ff; margin-bottom:10px; }



/* SignUp */
#SignUp{}
#SignUp h2{ font-size:18px; margin:0 0 10px; }
#SignUp h2.grey, #SocialMedia h2.grey{ color:#76838b; }
#SignUp ul{ margin:0; padding:0; list-style:none; }
#SignUp ul li{ display:block; margin:0 0 7px; }

#SignUp input.ui-input-text{ border-radius:0px !important; border: 1px solid #AAA; }
#SignUp a:hover{ color:#666; }


/* SocialMedia */
#SocialMedia{ color:#8d8d8d; }
#SocialMedia h2{ border-bottom:1px solid #cacaca; padding:0 0 7px; margin:0 0 10px; }
#SocialMedia h3{ color:#fff; font-size:18px; font-weight:bold; background:#0099ff; padding:10px; text-shadow:none !important; }











