@charset "utf-8";
/* www.supportunicefindonesia.org - index.css - RED Communication 2012 */
@import url("reset.css");

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}

.left{ float:left; } /**/ .right{ float:right; } /**/ .clear{ clear:both; } /**/ .hidden{ display:none; }

img{ border:none; }
p{ line-height:16px; margin:0 0 15px; }

a{ color: #0190F1; text-decoration:none; }
a:hover{ color:#64648A; } 
:focus{ outline:none; }

a.btn_blue{ background:#0190F1; border:1px solid #0190F1; padding:3px 5px; color:#fff; font-size:14px; font-weight:bold; position:relative; top:-5px; }
a.btn_blue:hover{ border:1px solid #0190F1; background:#fff; color:#0190F1; }

h1, h2, h3, h4 { font-family:  Arial, Verdana, Helvetica, sans-serif; padding:0; }
h5, h6 { font-family:  Arial, Verdana, Helvetica, sans-serif; color: #333333; }  

h2{ font-size:18px; color:#0081de; margin:5px 0 5px; }
h3{ font-size:14px; color:#585858; margin:0 0 5px; }

h2 .num{ background:#0190F1 url(..//images/circle_trans.png) center no-repeat; height:26px; line-height:26px; width:26px; font-size:14px; text-align:center; font-weight:bold; color:#fff; float:left; margin-right:5px; position:relative; top:-3px; }

/* BEGIN STRUCTURE */
#redContent{ width:100%; background:#fff; margin:0; padding:0; }
#redContent .wrappered{ width:780px; min-height:300px; }

#leftSide{ width:175px; float:left; }
#BahasaMenu{ font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#6a6a6a; padding:10px 13px; }
#BahasaMenu a{ color:#6a6a6a; }
#BahasaMenu a.on{ font-weight:bold; }

#leftSide ul{ margin:0; padding:0; list-style:none; border-top:1px solid #d9d9d9; }
#leftSide ul li{ border-bottom:1px solid #d9d9d9; font-family:  Arial, Verdana, Helvetica, sans-serif; font-weight:bold; font-size:13px; position:relative; }
#leftSide ul li a{ color:#5c5c5c; padding:10px 13px; display:block; }
#leftSide ul li a:hover, #leftSide ul li a.on{ color:#fff; background:url(..//images/bg_lm_hov.jpg) no-repeat center #0196fa; }

#leftSide ul li a .panah{ width:10px; height:16px; background:url(..//images/panah_lm_hov.png) center no-repeat; position:absolute; top:11px; right:-10px; display:none; }
#leftSide ul li a:hover .panah, #leftSide ul li a.on .panah{ display:block; z-index:100; }

#leftSide .email_this{ padding:10px 13px 10px 35px; border-bottom:1px solid #d9d9d9; background:url(..//images/email_btn.jpg) 12px 9px no-repeat; font-size:12px; color:#b6b6b6; }
#leftSide .share_this{ padding:10px 13px; border-bottom:1px solid #d9d9d9;  }
#leftSide .share_this .title{ padding-left:22px; background:url(..//images/share_btn.jpg) left center no-repeat; font-size:12px; color:#b6b6b6; margin-bottom:8px; }
#leftSide .ssl_cert{ padding:5px 13px; text-align:right; }

#rightSide{ width:592px; /*min-height:370px;*/ float:left; padding-bottom:130px; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; }

#slideShow{ }
#slideShow .slide{ position:relative; }
#slideShow .slide .DescSS{ position:absolute; bottom:0; width:592px; height:106px; background:url(..//images/slide_trans.png) repeat; }
#slideShow .slide .DescSS .padder{ padding:20px 10px 10px; font-size:12px; line-height:16px; color:#000; font-family:  Arial, Verdana, Helvetica, sans-serif; }

#slideShow .slide .DescSS .padder h2{ font-size:24px; font-weight:normal; color:#0099ff; padding:0; margin:0 0 10px; background:url(..//images/btn_arrow.png) right center no-repeat; }


/* PAGES */
#topSosMed{ font-family:Arial, Helvetica, sans-serif; height:17px; color:#6a6a6a; padding:8px 16px 8px; border-bottom:1px solid #d9d9d9; display:block; text-align:right; }
#topSosMed img{ padding:0 0 0 3px; }

#contentnya{ padding:5px 16px 10px 15px; }
#contentnya p{ line-height:18px; color:#585858; }

#topBanner{ margin:0 0 15px; position:relative; }
#boxTransText{ background:url(..//images/black_trans.png) repeat; width:305px; padding:15px 20px; border-left:15px solid #0099ff; min-height:30px; position:absolute; bottom:40px; }
#boxTransText p{ font-size:12px; color:#fff !important; line-height:16px; }
#boxTransText h2{ font-size:14px; color:#fff; font-weight:bold; }


#formRegistrasi{}
#formRegistrasi ul{ margin:0; padding:0; list-style:none; }
#formRegistrasi ul li{ padding:3px 0; }
#formRegistrasi ul li input[type=text]{ padding:5px; width:230px; border:1px solid #c0c0c0; /*-moz-box-shadow:inset 0px 2px 15px #ccc; -webkit-box-shadow:inset 0px 2px 15px #ccc; box-shadow:inset  0px 2px 15px #ccc;*/ }
#formRegistrasi ul li select{ padding:5px; width:243px; border:1px solid #c0c0c0; color:#a9a9a9; }
#formRegistrasi ul li input[type=submit], input[type=button] { background:url(..//images/button_submit_repeat.jpg) repeat-x; height:35px; line-height:35px; padding:0 30px; text-align:center; cursor:pointer; color:#fff; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; border:none; position:relative; }
#formRegistrasi ul li input[type=submit],input[type=button]:hover{ top:1px; }

#TakeActionPost{}
#TakeActionPost h2{ color:#5e5e5e; }
#TakeActionPost .img_post{ border-top:3px solid #0099ff; margin-bottom:15px; }

#TakeActionPost #share_post{ width:190px; float:left; }
#TakeActionPost #contentPost{ width:360px; float:right; }


#FormStep{ height:26px; line-height:26px; padding-bottom:15px; }
#FormStep ul{ margin:0; padding:0; list-style:none; clear:both; }
#FormStep ul li{ float:left; font-size:12px; color:#949494; font-family:Arial, Helvetica, sans-serif; width:140px; }
#FormStep ul li.title{ width:120px; color:#9d9b9b; }
#FormStep ul li .num{ background:#ababab url(..//images/circle_trans.png) center no-repeat; height:26px; line-height:26px; width:26px; font-size:14px; text-align:center; font-weight:bold; color:#fff; float:left; margin-right:5px; }

#FormStep ul li.on{ color:#0099ff; }
#FormStep ul li.on .num{ background:#0099ff url(..//images/circle_trans.png) center no-repeat; }

#liner{ height:5px; width:100%; display:block; background:#dee9f5; border-top:1px solid #a8b7c6; margin-bottom:20px; }


/* DONATE */
#donateForm{ font-family:  Arial, Verdana, Helvetica, sans-serif; color:#949494; }
#donateForm h3{ color:#0099ff; margin-bottom:10px; }

#donateForm #nominal{ margin:13px 0 20px; }
#donateForm #nominal ul{ margin:0; padding:0; list-style:none; }
#donateForm #nominal ul li{ float:left; width:185px; border-top:1px solid #c0d1e5; border-bottom:4px solid #aabfd5; background:#ababab; margin-right:2px; }
#donateForm #nominal ul li.on{ background:url(..//images/donate_on_bg.jpg) top center no-repeat; border-bottom:4px solid #dee9f5; }

#donateForm #nominal ul li label{ padding:15px 10px; display:block; }
#donateForm #nominal ul li .radio{ width:20px; margin-right:5px; float:left; }
#donateForm #nominal ul li .labelnya{ width:140px; float:left; font-size:14px; color:#fff; }
#donateForm #nominal ul li .labelnya .valnya{ font-weight:bold; font-size:24px; }

#donateForm #nominal ul li .labelnya .valnya input[type=text]{ width:80px; position:relative; top:-3px; }

#donateForm #formnya ul{ margin:0 0 3px; padding:0; list-style:none; clear:both; }
#donateForm #formnya ul li{ float:left; }
#donateForm #formnya ul li.labelnya{ width:120px; padding:5px 0; color:#949494; font-size:12px; line-height:18px; }
#donateForm #formnya ul li.form{ width:285px; }

#donateForm #formnya ul li.form input[type=text]{ padding:3px; border:1px solid #c0c0c0; color:#333; width:278px; }
#donateForm #formnya ul li.form select{ padding:3px; border:1px solid #c0c0c0; color:#949494; }
#donateForm #formnya ul li.form select.full{ width:288px; }

#donateForm #formnya ul li.form.radio{ padding:5px 0; } 
#donateForm #formnya ul li.form.radio label{ margin-right:30px; color:#949494; }

#paymentMethod{}
#paymentMethod ul{ margin:0; padding:0; list-style:none; clear:both; }
#paymentMethod ul li{ float:left; width:40%; padding-top:43px;  }
#paymentMethod ul li.cc{ background:url(..//images/pay_cc.jpg) no-repeat top left; }
#paymentMethod ul li.doku{ background:url(..//images/pay_doku.jpg) no-repeat top left; }

#typeDonate{ background:#d4e6f2; width:300px; padding:10px 15px; margin:20px 0; }
#typeDonate h3{ color:#5f5f5f; }
#typeDonate ul{ margin:0; padding:0; list-style:none; }
#typeDonate ul li{ display:block; line-height:21px; width:100%; color:#949494; font-size:14px; }

#donateForm input[type=submit]{ background:url(..//images/button_submit_repeat.jpg) repeat-x; height:35px; line-height:35px; padding:0 20px; text-align:center; cursor:pointer; color:#fff; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; border:none; position:relative; }
#donateForm input[type=submit]:hover{ top:1px; }


#donate_thanks{ background:url(..//images/img_shadow.jpg) no-repeat bottom center; padding-bottom:20px; margin:10px 0; }
#donate_thanks .wrap{ padding:5px; border:1px solid #cfcfcf; background:#fff; position:relative; overflow:hidden; }

#boxTransTextRight{ background:url(..//images/black_trans.png) repeat; width:235px; padding:15px 20px 20px; border-right:15px solid #0099ff; min-height:30px; position:absolute; bottom:40px; right:5px; text-align:right; }
#boxTransTextRight p{ font-size:12px; color:#fff !important; line-height:16px; margin:0 0 10px; }
#boxTransTextRight h2{ font-size:14px; color:#fff; font-weight:bold; }

#donate_error{ width:551px; height:400px; margin-top:10px; background:url(images/gagal.jpg) no-repeat; }

.btn_error{ position:relative; top:90px; left:152px; }



/* form validator */

label.error, .merahError{ color:#f00; padding:3px 0; display:block; }


/* css asli nya */
#header {
  left:0px;
  top:0px;
  width:100%;
  height: 48px;
}
#countrylogo {
  position:absolute;
  left:14px;
  top:13px;
} 
#logo {
  position:absolute;
  left:635px; 
  top:8px;
}
/* MAIN NAVIGATION*/
#mainnavbkgd { height:20px; width:100%; background: #0190F1; border-top: 1px solid #047BD2; border-bottom: 1px solid #047BD2; }
.mainnav { width:760px; }
.mainnav ul {
 margin: 0; /*removes indent IE and Opera*/
 padding: 0; /*removes indent Mozilla and NN7*/
 list-style-type: none; /*turns off display of bullet*/
 font-size: 85%;
 font-weight: bold;
}
.mainnav li {
 margin: 0;
 float: left;
 padding: 0;
}
  
.mainnav a {
 border-right: 1px solid #047BD2; 
 white-space: nowrap;
 padding-top: 3px;
 padding-bottom: 4px;
 padding-right: 4px;
 padding-left: 4px;
 line-height: 2.1;
 }
 
.mainnav a:link, .mainnav a:visited { 
 color: #FFFFFF;
 text-decoration: none;
}
.mainnav a.active {
 background-color: #20A6FF;
}
.mainnav a:hover {
 background-color: #20A6FF;
}
/* END MAIN NAVIGATION*/
  
/* tambahan edit dari css asli + tambahan html id/class */
#header{ background:#0099FF; }
#taglineRED{ background:#0099FF; width:100%; }
#taglineDalem{ width:760px; padding-left:14px; }

#footernavRED{ height:20px; width:100%; background-color: #E6E6E6; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #047BD2; }
#FooterContainer{ height:80px; width:100%; /*position:absolute; bottom:0;*/ background:#0099FF; }

.paddered{ width:760px; padding-left:14px; }
.paddered ul{ margin: 0; padding: 0; list-style-type: none; font-size: 85%; font-weight: bold; }
.paddered ul li{ margin:0; float:left; padding:0; }
.paddered ul li a { display: block; text-decoration: none; padding-top: 3px; padding-bottom: 4px; margin-left: 0px; margin-right: 16px; white-space: nowrap; color: #047BD2; }
.paddered ul li a:hover { text-decoration: underline; }