/* adim.sikiji@gmail.com */



html,body{
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;


}
#container_all
{
	width:100%;
	padding:0px;
	margin:0px;
	
	/*background: url(../img/bggradasi.gif) top center repeat-y;*/
	
}
	
#main_contain {
	
	width:100%px;
	height:auto !important; /* real browsers */
	height:100%; /* real browsers */
	position: relative;
	
	
	
}

/* header css */
.header {background:#0099FF repeat-x; height:45px; width:1003px; border-bottom:#047BD2 1px solid}
.logoindonesia {  height:31px; width:834px; padding:4px 0px 10px 20px; float:left}
.logo { padding:4px 0 0 0}
.menu {background:#0190F1 repeat-x; height:20px; width:99%; border-bottom:#047BD2 1px solid; padding:0 0 0 12px}
ul.menu_ul { margin:0; overflow:hidden; width:100%; height:20px; padding:0}
ul.menu_ul li { margin:0pt; padding:0pt}
.menu00 {float:left;display:block; width:51px;height:20px}
.menu01 {float:left;display:block; width:75px;height:20px}
.menu02 {float:left;display:block; width:89px;height:20px}
.menu03 {float:left;display:block; width:75px;height:20px}
.menu04 {float:left;display:block; width:71px;height:20px}
.menu05 {float:left;display:block; width:94px;height:20px}
.menu06 {float:left;display:block; width:112px;height:20px}
.menu07 {float:left;display:block; width:75px;height:20px}
.menu00ina {float:left;display:block; width:51px;height:20px}
.menu01ina {float:left;display:block; width:110px;height:20px}
.menu02ina {float:left;display:block; width:89px;height:20px}
.menu03ina {float:left;display:block; width:75px;height:20px}
.menu04ina {float:left;display:block; width:50px;height:20px}
.menu05ina {float:left;display:block; width:94px;height:20px}
.menu06ina {float:left;display:block; width:185px;height:20px}
.menu07ina {float:left;display:block; width:85px;height:20px}
/*header end */

/* content */
.contents { }
.menuatas { background:#E5E5E5 repeat-x; width:auto; height:22px;}
.menucont { background:#FF9900; float:left; border-right:#ffffff 1px solid; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; padding:3px 7px 4px 7px;}
.menucont a{   color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-decoration:none}
.menucont a:hover{   color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:11px;  text-decoration:none}
.menucont2 { background:#E5E5E5 repeat-x; float:left;  font-family:Arial, Helvetica, sans-serif; font-size:11px;  height:19px; color:#999999; padding:3px 1px 0 0}
.menucont2 a { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#999999; text-decoration:none}
.menucont2 a:hover { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FF9900; text-decoration:none}
.menucont3 { background:#0099FF; float:left; color:#FFFFFF;font-family:Arial, Helvetica, sans-serif; font-size:11px; padding:3px 8px 5px 8px}
div.contentdata {float:left; height:100%;}
ul.content_ul { margin:0; overflow:hidden; width:100%; padding:0}
ul.content_ul li { margin:0pt; padding:0pt}
.content01 {float:left;display:block; width:285px;height:251px}
.content02 {float:left;display:block; width:261px;height:251px}
.content03 {float:left;display:block; width:198px;height:251px}
ul.content_menu { margin:0; overflow:hidden; width:100%;  padding:0}
ul.content_menu li { margin:0pt; padding:0pt}
.contentmenu00 {float:left;display:block; width:180px; position:absolute;}
.contentmenu01 {display: block; margin: 0px 0px 0px 180px; padding:0px; list-style:none outside;
	height:auto !important; /* real browsers */
	height:521px; /* IE6: treaded as min-height*/
	min-height:521px; /* real browsers */
}

.topcontent {height:43px; background:url(../img/bg_02.gif);}
.topline {background:url(../img/bg_00.gif); background-repeat:repeat-x}

/* content end */

/* footer */
/*.footermenu { width:98.4%; border-top:#CCCCCC 1px solid; background:#CCCCCC repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bolder; color:#047BD2; padding:3px 0 0 20px}*/
.footermenu { background:#E5E5E5 repeat-x; border-top:#CCCCCC 0px solid; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bolder; color:#047BD2; padding:3px 0 0 20px}
.footers {background:#0099FF repeat-x; width:100%; border-top:#047BD2 1px solid; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bolder}
.footerpadding {padding:4px 0 0 19px}
/* footer end */

/* font */
.arial24blue {font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; color:#0099FF; letter-spacing:-1px}
.arial24blue2 {font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#005292; letter-spacing:-1px}
.arial22blue {font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#0099FF; letter-spacing:-1px; line-height:24px;}
.arial15blue {font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; color:#0099FF; line-height:15px;}
.arial13blue{font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#0099FF; letter-spacing:-1px}
.arial12666 { font-family:Arial, Helvetica, sans-serif;color:#666666; font-size:12px }
.arial12 { font-family:Arial, Helvetica, sans-serif; font-size:12px }
.arial110099FF a {font-family:Arial, Helvetica, sans-serif;color:#0099FF; font-size:11px; text-decoration:none; font-weight:bold}
.arial110099FF a:hover {font-family:Arial, Helvetica, sans-serif;color:#FF9900; font-size:11px; text-decoration:none; font-weight:bold}
.title {font-family:Arial, Helvetica, sans-serif;color:#FF9900; font-size:12px; text-decoration:none; font-weight:bold}
.orange {font-family:Arial, Helvetica, sans-serif;color:#FF9900; font-size:11px; }
.titlemenu {font-family:Arial, Helvetica, sans-serif;color:#0099FF; font-size:22px;}
.arial0white { font-family:Arial, Helvetica, sans-serif;color:#ffffff; font-size:10px }

.linksite a {font-family:Arial, Helvetica, sans-serif; color:#0099FF; font-size:11px}
.linksite a:hover {font-family:Arial, Helvetica, sans-serif; color:#FF9900; font-size:11px}
.linkinside a { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none}
.linkinside a:hover { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333399; text-decoration:none}
.linksite2 a {font-family:Arial, Helvetica, sans-serif; color:#ffffff; font-size:11px; text-decoration:none}
.linksite2 a:hover {font-family:Arial, Helvetica, sans-serif; color:#FF9900; font-size:11px; text-decoration:none}
input { border:#C0C0C0 1px solid; color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px}

/* bckground */
.bgcontact { background:url(img/bg_contact.jpg) no-repeat; height:200px}
.bgshop{ background:url(img/bg_shop.jpg) no-repeat; height:200px}
.bgadvoid{ background:url(img/bg_advoid.jpg) no-repeat; height:200px}
.bgcampaign{ background:url(img/bg_campaign.jpg) no-repeat; height:200px}
.bgguest{ background:url(img/bg_guestbook.jpg) no-repeat; height:200px}
.bgpolling{ background:url(img/bg_polling.jpg) no-repeat; height:200px}
.bgsearch{ background:url(img/bg_search.jpg) no-repeat; height:200px}
.bgenews{ background:url(img/bg_enews.jpg) no-repeat; height:200px}
.squaremenu {padding:7px 0 7px 0; border-bottom:#4DB8FF 1px solid }
.squaremenuno {padding:7px 0 7px 0 }
.contacttext {
padding-top:5px;
width:200px;
height:15px;
font-family:Verdana;
font-size:10px;
}
.squaremenu_active { padding:7px 0 7px 0; border-bottom:#4DB8FF 1px solid; }

#active { color:#333399; }
#noactive { color:#fff; }

.more{font-family:Arial, Helvetica, sans-serif;color:#0099FF; font-size:11px; text-decoration:none; font-weight:bold}
.more:link{font-family:Arial, Helvetica, sans-serif;color:#0099FF; font-size:11px; text-decoration:none; font-weight:bold}
.more:hover{font-family:Arial, Helvetica, sans-serif;color:#0099FF; font-size:11px; text-decoration:underline; font-weight:bold}